

<!-- Global Modal For Alerts -->

<div id="customModal" class="custom-modal hidden" th:fragment="alertModal">
    <div class="custom-modal-content" tabindex="0">
        <p id="customModalMessage"></p>
        <div class="custom-modal-buttons">
            <button id="customModalCancel" class="custom-modal-btn">Cancel</button>
            <button id="customModalConfirm" class="custom-modal-btn">Confirm</button>
            <button id="customModalOk" class="custom-modal-btn">OK</button>
        </div>
    </div>
</div>