header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
}


.analytics-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 40px 80px;
    text-align: center;
}


.section-title {
    font-size: 2.6rem;
    color: #00ffff;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.section-divider {
    width: 100%;
    height: 2px;
    background-color: #00ffff;
    margin: 50px auto 80px;
    opacity: 0.4;
}

.summary-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 35px;
    overflow-x: auto;
    padding: 15px 0;
    max-width: 1400px;
    margin: 0 auto;
}

.summary-card {
    background-color: #0a0a0a;
    border: 2px solid #00ffff;
    border-radius: 16px;
    width: 250px;
    height: 300px;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 0 18px rgba(0, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.2s ease;
}

.summary-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 28px rgba(0, 255, 255, 0.45);
}

.card-stat {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.card-label {
    font-size: 1.4rem;
    color: #00ffff;
}

.chart-container {
    background-color: black;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    width: 95%;
    height: 400px;
    box-shadow: 0 0 15px 3px cyan;
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.purchase-frequency-chart {
    background-color: black;
    border-radius: 10px;
    padding: 15px;
}

.card-icon {
    font-size: 40px;
    color: cyan;
    margin-bottom: 10px;
}

.no-data-msg {
    color: #0ff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.05);
    border: 1px solid #0ff;
    border-radius: 8px;
}




