/* Login/Register container */
.auth-container {
    width: 570px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
    text-align: center;
    font-size: 1.8rem;
}


.auth-container h2 {
    font-size: 3.2rem;
    margin-bottom: 25px;
    text-shadow: 0 0 3px #00ffea, 0 0 4px #00ffea;
}

/* Form inputs */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.8rem;
    display: block;
    text-align: left;
    color: cyan;
}

.form-group input {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    border: 2px solid cyan;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    transition: all 0.3s;
}

.form-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    opacity: 0.5;
}

.form-group input:focus::placeholder {
    color: transparent;
}


/* Prevent white background when using autofill */
.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}


.auth-button {
    width: 100%;
    padding: 18px 20px;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, cyan, #00ffea);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}

.auth-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
    color: white;
}

/* Error message styling */
.error-message {
    color: red;
    font-size: 1.4rem;
    margin-top: 10px;
}

/* Register/Login Links */
.auth-container p {
    font-size: 1.6rem;
}

.auth-container a {
    color: cyan;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.auth-container a:hover {
    text-decoration: underline;
    color: #00aaff;
}



