/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: #ffffff;
}


/* Welcome Heading Styling
.welcome-heading {
    font-size: 4rem;
    color: #00ffcc;
    text-shadow: 0 0 3px #00ffcc, 0 0 6px #00ffcc;
    text-align: center;
    margin: 20px 0;
} */


/* Button Container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

/* Buttons */
.button-container a {
    text-decoration: none; /* Remove underline for links */
}

.button-container button {
    display: inline-block;
    padding: 30px 80px;
    margin: 30px 0;
    font-size: 2rem;
    color: white;
    background-color: #00bfa5;
    border-radius: 12px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px #00ffcc, 0 0 20px #00ffcc;
    transition: transform 0.2s, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect for Buttons */
.button-container button:hover {
    background-color: #00897b;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 0 15px #00ffcc, 0 0 25px #00ffcc;
}
