.pdf-container {
    width: 90%;
    height: 75vh;
    margin: 10px auto;
    background-color: #1c2833;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #00d4ff;
    box-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff;
}

.pdf-viewer {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.download-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-container button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0px 6px 15px rgba(37, 117, 252, 0.5);
    transition: all 0.3s ease-in-out;
}

.download-container button:hover {
    background: linear-gradient(90deg, #2575fc, #6a11cb);
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(37, 117, 252, 0.8);
}

main h2 {
    margin-top: 20px;
    font-size: 4rem;
    text-align: center;
    color: #00d4ff;
    text-shadow: 0 0 10px rgba(0, 212, 255, 0.8);
}

