<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/general_styles.css}">
    <link rel="stylesheet" th:href="@{/css/admindashboard_styles.css}">
    <script th:src="@{/scripts/global_alert_modal.js}"></script>
    <title>Admin Dashboard</title>
</head>

<body>

<!-- Webapp Title -->
<header>
    <h1 class="webapp-title">Virtual Vending Machine Webapp</h1>
</header>

<!-- User Info -->
<div class="user-info">
    <p>Logged In As: <span th:text="${username}">Admin</span></p>
</div>

<!-- Logout Button -->
<div class="logout-container">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout-button">Logout</button>
    </form>
</div>

<!-- Admin Dashboard Main Content -->
<main>
    <h2 class="admin-heading">Admin Dashboard</h2>

    <div class="stock-management-container">
        <h3>Product Stock Management</h3>
        <table class="stock-management-table">
            <thead>
            <tr>
                <th>Item Code</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Stock:<br> Current <span class="provisional-label">(New*)</span> </th>
                <th>Stock Actions</th>
                <th>Auto-Update</th>
                <th>Stock Threshold</th>
                <th>Update Amount</th>
                <th>Undo Changes</th>
            </tr>
            </thead>
            <tbody id="productRows">
                <!-- Rows will be dynamically added in via JS -->
            </tbody>
        </table>
        <div class="save-container">
            <button class="global-reset-button" onclick="resetAllChanges()">Reset All Changes</button>
            <button id="saveChangesBtn" class="save-changes-btn" onclick="saveChanges()">Save All Changes</button>
        </div>
    </div>

</main>

<!-- Reusable HTML Fragment for the Alert Modal -->
<div th:replace="fragments/global_modal_fragment :: alertModal"></div>

<script th:src="@{/scripts/admindashboard_script.js}"></script>
</body>
</html>
