<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/general_styles.css}">
    <link rel="stylesheet" th:href="@{/css/homepage_styles.css}">
    <title>Home Page</title>
</head>

<body>

    <!-- H1 Heading for Webapp Title -->
    <header>
        <h1 class="webapp-title">Virtual Vending Machine Webapp</h1>
    </header>

    <!-- Display Logged-In User -->
    <div class="user-info">
        <p>Logged In As: <span th:text="${username}">Guest</span></p>
    </div>

    <!-- Logout Button -->
    <div class="logout-container">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>

    <!-- Main Content -->
    <main>

        <!-- Page Heading -->
        <h2 class="welcome-heading">Home Page</h2>

        <!-- Display of Total Takings from the Vending Machine -->
        <p class="total-takings">Vending Machine Total Takings: £<span th:text="${#numbers.formatDecimal(totalTakings, 1, 2)}">0.00</span></p>


        <!-- Button Container -->
        <div class="button-container">

            <!-- Start Button -->
            <a th:href="@{/main}">
                <button>Start</button>
            </a>

            <!-- Transactions Button -->
            <a th:href="@{/transactions}">
                <button>Transaction History</button>
            </a>

            <!-- About Button -->
            <a th:href="@{/about}">
                <button>About</button>
            </a>

            <!-- Instructions Button -->
            <a th:href="@{/instructions}">
                <button>Instructions</button>
            </a>
        </div>
    </main>

</body>
</html>

