<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/general_styles.css}">
    <link rel="stylesheet" th:href="@{/css/authpage_styles.css}">
    <title>Login Page</title>
</head>

<body>
<!-- H1 Heading for Webapp Title -->
<header>
    <h1 class="webapp-title">Virtual Vending Machine Webapp</h1>
</header>

<!-- Main Content -->
<div class="auth-container">
    <h2>Login</h2>

    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Email or Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your Email or Username" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>
        </div>

        <div class="remember-me-container">
            <input type="checkbox" name="remember-me" id="remember-me">
            <label for="remember-me">Remember Me</label>
        </div>

        <button type="submit" class="auth-button">Login</button>
    </form>

    <p th:if="${param.error}" class="error-message">Invalid username or password.</p>

    <p>Don't have an account? <a href="/register">Register here</a></p>

    <form action="/guest-login" method="post">
        <button type="submit" class="guest-button">Continue as Guest</button>
    </form>


    <div class="google-login-wrapper">
        <a href="/oauth2/authorization/google" class="google-button">
            <img src="/images/google-logo.jpg" alt="Google Logo" class="google-logo">
            Login with Google
        </a>
    </div>

</div>

<!-- JavaScript to force the Login page to always be loaded from controller (no browser backtracking) -->
<script>
    window.addEventListener("pageshow", function (event) {
        if (event.persisted || performance.getEntriesByType("navigation")[0]?.type === "back_forward") {
            window.location.reload();
        }
    });
</script>


</body>
</html>
